@import '../../_base.scss';

.playerRow {
  padding: 1rem;
}

.videoPlayerContainer {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  margin-bottom: 1rem;

  iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    border-radius: 10px;
  }
}

@media (max-width: $breakpoint-small) {
  .playerRow {
    // padding: 0.1rem;
    padding: 2px;
  }
}
